* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #75dfff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
.section {
    text-align: center;
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px 20px;
    width: 35vw;
}
.flexCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.banner {
    background-color: #3b82f6;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.banner h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.create-button {
    background-color: #34d399;
    color: white;
}

.join-button {
    background-color: #f59e0b;
    color: white;
}

.button:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.button:active {
    transform: translateY(0);
    background-color: #2d6a4f;
}

.join-button:active {
    background-color: #d97706;
}

#timeBarDiv{
    width: 70vw;
    background-color: black;
    height: 5vh;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: bold;
    font-size: x-large;
}

#timeBar{
    width: 70vw;
    background-color: red;
    height: 5vh;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}

.answers{
    width: 70vw;
    display: flex;
    row-gap: 5vh;
    column-gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.a{
    background-color: #488efe;
    color: white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #333;
    cursor: pointer;
}

.a:hover{
    background-color: #2c7dff;
}

@keyframes startQuestion {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes endQuestion {
    0%{transform: scale(1);}
    100%{transform: scale(0);}
}

#questionDiv{
    animation-name: startQuestion;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    /* animation-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56); */
}
@keyframes scoreIn {
    0%{transform:translateY(-60vh)}
    100%{transform:translateY(0)}
}
@keyframes scoreOut {
    0%{transform:translateY(0)}
    100%{transform:translateY(70vh)}
}
#score{
    display: flex;
    gap: 20vw;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}